/*
 * File name: App.css
 * Student’s Name: Shek Yu Wong
 * StudentID: 301335153
 * Date: May 30, 2024
 */

 /* ========== Styles for all pages ========== */
.sub-root {
	width: 1000px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.sub-root-center{
	text-align: center;
	align-items: center;
	margin: 10px;
}

h1 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 10px;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

button {
	grid-column: 1 / 3;
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}
 
section {
	margin-bottom: 40px;
}
  
p {
	line-height: 1.5;
}


/* ========== Styles for Home Page (index.js) ========== */
.profile-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 30px;
}

.profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-info {
	flex: 1;
}

.profile-info h2 {
	margin-top: 0;
}

.profile-info p {
	line-height: 1.5;
}

.profile-content{
	width: 600px;
	text-align: justify;
}

.social-links {
	margin-top: 20px;
}

.social-links a {
	display: inline-block;
	margin-right: 10px;
	color: #333;
	text-decoration: none;
}

.social-links a:hover {
	color: #666;
}

.button {
	display: inline-block;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	width: 200px;
	text-align: center;
	transition: background-color 0.3s ease;
}
  
.button:hover {
	background-color: #444;
}



/* ========== Styles for Projects Page (projects.js) ========== */
.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.project-card {
	width: 800px;
	background-color: #f1f1f1;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
	overflow: hidden;
}

.project-image {
	height: 500px;
	overflow: hidden;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	background-color: white;
}

.project-image img {
	#width: 100%;
	height: 500px;
	object-fit: fill;
	display: block;
	margin: auto;
}

.project-info {
	padding: 20px;
}

.project-info h3 {
	margin-top: 0;
}

.project-info p {
	line-height: 1.5;
}

.project-links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.project-links a {
	display: inline-block;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
}

.project-links a:hover {
	color: #666;
}



/* ========== Styles for Services Page (services.js) ========== */
.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.service-card {
	width: 300px;
	background-color: #f1f1f1;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
	overflow: hidden;
	text-align: center;
	object-fit: fill;
}

.service-card img {
	#width: 100%;
	height: 500px;
	display: block;
	margin: auto;
}

.service-icon {
	font-size: 50px;
	color: #333;
	margin-top: 30px;
	border-radius: 20px;
	object-fit: fill;
}

.service-info {
	padding: 20px;
}

.service-info h3 {
	margin-top: 0;
}

.service-info p {
	line-height: 1.5;
}

.service-cta {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
}

.service-cta:hover {
	background-color: #666;
}



/* ========== Styles for Contact Me Page (contact-me.js) ========== */
.contact-container {
	width: 800px;
	margin: 0 auto;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	#flex-direction: column;
	flex-wrap: wrap;
}

.contact-title{
	width: 100%;
	text-align: center;
}

.contact-point, .contact-message{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.contact-point ul{
	padding-left: 15px;
}

.contact-point ul li{
	padding: 5px;
	padding-left: 30px;
	text-align: left;
}

.contact-icon{
	height: 15px;
}

.contact-table-width{
	width: 36px;
	padding: 3px;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input,
textarea {
	width: 200%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

textarea {
	resize: vertical;
	min-height: 150px;
}



/* ========== Styles for Thank You Page (thank-you.js) ========== */
.thank-you-page {
	display: flex;
	flex-direction: column;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	padding: 40px;
}
  
.thank-you-page h1 {
	font-size: 3rem;
	font-weight: bold;
	color: #333;
}
  
.thank-you-page p {
	font-size: 1.2rem;
	color: #555;
}
  
.thank-you-page textarea {
	width: 100%;
	height: 150px;
	font-size: 1.2rem;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	resize: none;
	background-color: #fff;
	color: #555;
	margin-bottom: 2rem;
}
  
.thank-you-page a:hover {
	background-color: #0056b3;
}
